<h1>Send me Email Notifications</h1>
<mat-radio-group aria-label="Select an option">
    <mat-label>All New Activity:</mat-label>
    <mat-radio-button value="Yes">Yes</mat-radio-button>
    <mat-radio-button value="No">No</mat-radio-button>
    <br>
    <mat-label>All Activity Reply & Comment:</mat-label>
    <mat-radio-button value="Yes">Yes</mat-radio-button>
    <mat-radio-button value="No">No</mat-radio-button>
    <br>
    <mat-label>All Activity Status Change::</mat-label>
    <mat-radio-button value="Yes">Yes</mat-radio-button>
    <mat-radio-button value="No">No</mat-radio-button>
    <div class="d-flex btn justify-content-start">
        <button mat-raised-button mat-dialog-close="true" [mat-dialog-close]="false">
            Update
        </button>
        <span>Or</span>
        <button type="submit" mat-raised-button color="primary" mat-dialog-close="true">
            CANCEL
        </button>
    </div>
  </mat-radio-group>
  
