<div class="login-12 tab-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-12 bg-img">
        <div class="informeson">

          <div class="animated-text">
            <h2>E-LogS: Ease of Logistics Services</h2>
          </div>
          <p>
            is a digital system for registering, coordinating, and monitoring
            the resolution of user issues/suggestions. The dashboard has been
            developed by the Logistics Division, DPIIT to facilitate timebound
            resolution of issues.
          </p>
          <div class="features">
            <h4>Features of E-LogS:</h4>
            <ul>
              <li>Single-dashboard for submission of logistics service-related issues/suggestions</li>
              <li>Promotes evidence-based decision making</li>
              <li>Digitized recording, tracking, and resolution</li>
              <li>Established SLAs and escalation matrices</li>
              <li>Institutional knowledge repository</li>
            </ul>
          </div>
          </div>


        <div class="login-footer">
            <div class="footer-left">
            <a href="/">
            <img src="./../../assets/images/emblem.png">
            </a>
            </div>
            <div class="footer-right">
                    <p>All material, information, data, images or content on this website is subject to copyright or other applicable intellectual property laws and no part of it can be reproduced in any form without prior written consent and approval from India Logistics. Infringements are subject to prosecution under the applicable laws.</p>
                    <p>An initiative of the <a href="https://commerce.gov.in/" target="_blank"><span>Ministry of Commerce &amp; Industry</span></a>. Government of India</p>
                    <p>Copyright 2021, Ministry of Commerce and Industry</p>
            </div>
        </div>



      </div>
      <div class="col-lg-5 col-md-12 form-section">
        <div class="login-inner-form">
          <div class="details">
            <div class="main-logo">
                <a href="#"><img src="./../../assets/images/IndiaLogistics.jpeg"/></a>
            </div>

            <h1>Welcome!</h1>
            <h3>Sign Into Your Account</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Email"
                  input
                  type="email"
                  formControlName="email"
                />
                <mat-icon matSuffix>email</mat-icon>

                <mat-error
                  *ngIf="
                    loginForm.get('email')?.hasError('pattern') &&
                    !loginForm.get('email')?.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>

              <div class="Password">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <mat-icon
                    matSuffix
                    class="icon-cursor"
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                </mat-form-field>
              </div>
              <div class="checkbox form-group clearfix">
                <div class="form-check float-start"></div>
                <a
                  href="forgot-password-12.html"
                  class="float-end forgot-password"
                  >Forgot your password?</a
                >
              </div>
              <div class="form-group clearfix">
                <button type="submit" class="btn btn-lg btn-primary btn-theme" [disabled]="loginForm.invalid">
                  <span>Sign In</span>
                </button>
              </div>
              <div class="logo-2">
                <img
                  src="./../../assets/images/gatishakti-logo-login-h.png"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
