.user {
    margin-bottom: 0px;
}

.mat-card-actions {
    margin: 0;
}

table {
    border: 1px solid rgb(236 236 236);
}

.adduser-table {
    height: 300px;
    overflow: auto;

    th {
        font-size: 1em;
    }

    tr:nth-child(even) {
        background: #EAF1F6;
    }
}