<div class="d-flex justify-content-between ">
    <p>Import Activity</p>
    <button mat-stroked-button>
        <mat-icon>archive</mat-icon>
        Export Activity (.csv)</button>
</div>
<hr>
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="uploadFileForm">      
            <ng-template matStepLabel>Upload File</ng-template>
            <div class="d-flex justify-content-between">
                <div class="border">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <h4>Organisation:</h4>
                            <mat-form-field appearance="fill">
                                <mat-label>select organization</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let organization of organizations"
                                        [value]="organization.value">
                                        {{organization.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <h4>Upload your CSV file</h4>
                        <hr>
                        <div class="d-flex justify-content-start ">
                            <button mat-stroked-button>
                                Choose file</button><br>
                            <small><b>2 MB</b> or <b>1,000</b> rows maximum size</small>
                        </div><br>
                        <div>
                            <button type="button" class="btn btn-success">Continue</button>
                        </div>
                    </div>
                </div><br>
                <div class="border">
                    <div class="d-flex flex-column">
                        <h2>CSV File</h2>
                        <hr>
                        <div class="d-flex justify-content-start ">
                            <u><a href="https://elogs.cxipl.com/projects/download_sample_csvfile">Download the
                                sample file</a></u><br>
                            <p>to see what you can import</p>
                        </div>
                        <ul>
                            <li><b>Title</b> - Activity Title - <b style="color: #dd0f0f;">mandatory</b></li>
                            <li><b>Description</b> - Description of the task</li>
                            <li><b>Due Date</b> - Due date of Activity (mm/dd/yyyy)</li>
                            <li><b>Status</b> - Current status of the Activity (NEW, In Progress, RESOLVED,
                                CLOSED)</li>
                            <li><b>Type</b> - Activity type (Bug, Development, Enhancement, RnD, QA, Unit
                                Testing, Maintenance, Release, Updates, Idea, Others)</li>
                            <li><b>Assign to</b> - Email ID of Activity Assigned To</li>
                        </ul>
                        <h2>Help</h2>
                        <hr>
                        <ul>
                            <li>Choose a project to Import Activity</li>
                            <li>Upload the valid CSV file with your Tasks</li>
                            <li>First system will prompt a preview of all the data in the file</li>
                            <li>In preview you can validate your data</li>
                            <li>Confirm the data in the preview and Import them to the system</li>
                            <li>All the Tasks will be posted to the selected Organization.</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div>
                <button mat-button matStepperNext>Continue</button>
            </div>
       
    </mat-step>
    <mat-step [stepControl]="priviewDataForm" label="Preview Data">
      
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
      
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Upload Summary</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>