.div-2 {
    background-color: #e3cba6;
}

table {
    width: 100%;
}

.uploadfile-container {
    display: flex ;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 10px;
    .org-container {
        box-shadow: 0px 0px 2px grey;
        padding: 10px;

        .org-input {
            align-items: center;
            gap: 1rem;
            padding: 10px;
        }

        hr {
            margin: 10px;
        }

        button {
            background: #A2E2B7;
        }
    }

    .csvhelp-container {
        padding: 10px;
        box-shadow: 0px 0px 2px grey;

        h2 {
            margin-bottom: 0;
        }

        hr {
            margin: 2px;
        }

        .download-link {
            margin-top: 1rem;
            margin-left: 2rem;

            a {
                margin-right: 5px;
            }
        }

        ul {
            margin-left: 2rem;
            line-height: 2;
        }
    }
}

@media screen and (max-width:850px) {

    .uploadfile-container {
        display: block;
    }
}