<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between header-left">
        <a class="logo d-flex align-items-center">
            <img src="https://elogs.cxipl.com/img/gatishakti-logo-login-h.png" alt="">
        </a>
        <span (click)="sidebarShow()" class="hamburger"><i class="material-icons toggle-sidebar-btn">dehaze</i></span>
    </div>
    <div class="search-bar">
        <div class="search-form d-flex align-items-center">
            <input [matAutocomplete]="auto" type="text" placeholder="Search For {{inputPlaceHolder}}" [(ngModel)]="searchText"
                (ngModelChange)="onSerchChange()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let result of surchResult" (click)="navigateToSelectedActivity(result._id)">
                    {{result.uniqIdentity}} | {{result.status | titlecase}} | {{result.title}}
                </mat-option>
            </mat-autocomplete>
            <button title="Search" (click)="onSerchChange()">
                <i class="material-icons">search</i></button>
        </div>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle ">
                    <i class="material-icons">search </i>
                </a>
            </li>
            <li *ngIf="isSuperAdmin">
                <button mat-raised-button [matMenuTriggerFor]="profilemenu" color="warn">Add</button>
                <mat-menu #profilemenu="matMenu">
                    <button mat-menu-item (click)="openCreateOrganizationPopup()">Organization</button>
                    <button mat-menu-item (click)="openCreateUserPopup()">User</button>
                </mat-menu>
            </li>

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown"
                    [matMenuTriggerFor]="profileMenu">
                    <mat-icon>account_circle</mat-icon>
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{logedinUserDetails.Name | titlecase }}</span>
                </a>

                <mat-menu #profileMenu="matMenu" class="profile_menu">
                    <div class="profile-dropdown">
                        <div class="account-info">
                            <h2>This Account is managed by {{companyName}}</h2>
                            {{logedinUserDetails.email}}
                        </div>
                        <div class="menu">
                            <div class="settings-menu">
                                <h4>Personal Settings</h4>
                                <button mat-menu-item (click)="profile()">Profile</button>
                                <button mat-menu-item (click)="notifications()">Notifications</button>
                                <button mat-menu-item (click)="emailReports()">Email Reports</button>
                                <button class="btn-logout" mat-menu-item (click)="logout()">Logout</button>
                            </div>

                            <div *ngIf="isSuperAdmin" class="settings-menu">
                                <h4>Company Settings</h4>
                                <button mat-menu-item (click)="navigateTomyCompany()">My Company</button>
                                <button mat-menu-item (click)="navigateToimportandexport()">Import & Export</button>
                                <button mat-menu-item (click)="navigateTocatageory()">Catageory</button>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </li>
        </ul>
    </nav>
</header>