<div>
  <div class="d-flex justify-content-between mb-2">
    <div>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <ng-container *ngFor="let type of this.masterData?.activityTypesData let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.shortName}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('activityTypesData',index,'types',true)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container *ngFor="let type of this.masterData?.activityEntryTypesData let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.name}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('activityEntryTypesData',index,'entryTypes',true)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container *ngFor="let type of this.masterData?.activitySectorsData let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.name}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('activitySectorsData',index,'geography',true)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container *ngFor="let type of this.masterData?.activityScopesData let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.name}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('activityScopesData',index,'scope',true)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container *ngFor="let type of activityFiltersData.priority let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.DisplayName}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('priority',index,'priority',false)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container *ngFor="let type of activityFiltersData.status let index = index">
          <mat-chip *ngIf="type.selected === true">
            {{type.DisplayName}}
            <button matChipRemove>
              <mat-icon (click)="removeFilter('status',index,'status',false)">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container>
          <mat-chip *ngIf="createdDateChipValue && createdDateChipValue !== ''">
            {{createdDateChipValue}}
            <button matChipRemove>
              <mat-icon (click)="removeDateFilter('createdDate')">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
        <ng-container>
          <mat-chip *ngIf="dueDateChipValue && dueDateChipValue !== ''">
            {{dueDateChipValue}}
            <button matChipRemove>
              <mat-icon (click)="removeDateFilter('dueDate')">cancel</mat-icon>
            </button>
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
    <div class="text-end activity_actions">
      <button *ngIf="isResetFilters" mat-button class="resetButton" (click)="resetAllFilters()">Reset Filters</button>
      <button mat-button class="" (click)="downloadFile()" matTooltip="Download">
        <i class="icon-taskdownl"></i>
        <mat-icon class="download">file_download</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="filters" matTooltip="Filters">
        <mat-icon> filter_alt</mat-icon>Filters
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #filters="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="createddate">Created Date</button>
        <button mat-menu-item [matMenuTriggerFor]="duedate">Due Date</button>
        <button mat-menu-item [matMenuTriggerFor]="status">Status</button>
        <button mat-menu-item [matMenuTriggerFor]="types">Types</button>
        <button mat-menu-item [matMenuTriggerFor]="entrytype">Entry Type</button>
        <button mat-menu-item [matMenuTriggerFor]="geography">Geography</button>
        <button mat-menu-item [matMenuTriggerFor]="scope">Scope</button>
        <button mat-menu-item [matMenuTriggerFor]="priority">Priority</button>
        <button mat-menu-item [matMenuTriggerFor]="createdby">Created by</button>
        <button mat-menu-item [matMenuTriggerFor]="assignto">Assigned to</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="groupBymenu" matTooltip="Group By">
        <mat-icon>filter_list</mat-icon> Group By
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #groupBymenu="matMenu">
        <mat-option *ngFor="let option of activityFiltersData.groupBy">
          {{option.DisplayName}}
        </mat-option>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="sortby" matTooltip="Sort By">
        <mat-icon>sort</mat-icon> Sort By
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #sortby="matMenu">
        <mat-option *ngFor="let option of activityFiltersData.sortBy" (click)="sortActivityListData(option)">
          {{option.DisplayName}}
        </mat-option>
      </mat-menu>
    </div>
  </div>


  <!-- <form > -->
  <mat-menu #createddate="matMenu">
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
      (click)="$event.stopPropagation();">
      <mat-radio-button class="example-radio-button" *ngFor="let option of activityFiltersData.createddate"
        [value]="option.key" (change)="filterActivityListData('createdDate',$event,option.DisplayName)">
        {{option.DisplayName}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill" (click)="$event.stopPropagation();" [ngStyle]="{width : '180px'}"
      *ngIf="isShowCustomCreatedDate">
      <mat-label>Enter date</mat-label>
      <mat-date-range-input [formGroup]="customCreatedDate" [rangePicker]="picker">
        <input matStartDate formControlName="fromDate" placeholder="Start date">
        <input matEndDate formControlName="toDate" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="customCreatedDate.controls.fromDate.hasError('matStartDateInvalid')">Invalid start
        date</mat-error>
      <mat-error *ngIf="customCreatedDate.controls.toDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </mat-menu>
  <mat-menu #duedate="matMenu">
    <div (click)="$event.stopPropagation();">
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let option of activityFiltersData.duedate"
          [value]="option.key" (change)="filterActivityListData('dueDate',$event,option.DisplayName)">
          {{option.DisplayName}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="fill" (click)="$event.stopPropagation();" [ngStyle]="{width : '180px'}"
        *ngIf="isShowCustomDueDate">
        <mat-label>Enter date</mat-label>
        <mat-date-range-input [formGroup]="customDueDate" [rangePicker]="picker1">
          <input matStartDate formControlName="fromDate" placeholder="Start date">
          <input matEndDate formControlName="toDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-date-range-picker #picker1></mat-date-range-picker>
        <mat-error *ngIf="customDueDate.controls.fromDate.hasError('matStartDateInvalid')">Invalid start
          date</mat-error>
        <mat-error *ngIf="customDueDate.controls.toDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
  </mat-menu>
  <mat-menu #status="matMenu">
    <div (click)="$event.stopPropagation();">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox *ngFor="let option of activityFiltersData.status" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'status',option)">
            {{option.DisplayName}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #types="matMenu">
    <div (click)="$event.stopPropagation();">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox class="example-margin" [checked]="allCompleteFilters.type"
            (change)="setAllFiltersToggle($event.checked,'type','activityTypesData')">
            All
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <mat-checkbox *ngFor="let option of masterData?.activityTypesData" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'types',option)">
            {{option.name}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #entrytype="matMenu">
    <div (click)="$event.stopPropagation();">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox class="example-margin" [checked]="allCompleteFilters.entryType"
            (change)="setAllFiltersToggle($event.checked,'entryType','activityEntryTypesData')">
            All
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <mat-checkbox *ngFor="let option of masterData?.activityEntryTypesData" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'entryTypes',option)">
            {{option.name}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #geography="matMenu">
    <div (click)="$event.stopPropagation();">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox *ngFor="let option of masterData?.activitySectorsData" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'geography',option)">
            {{option.name}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #scope="matMenu">
    <div (click)="$event.stopPropagation();">
      <section>
        <span>
          <mat-checkbox *ngFor="let option of masterData?.activityScopesData" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'scope',option)">
            {{option.name}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #priority="matMenu">
    <div (click)="$event.stopPropagation();">
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox *ngFor="let option of activityFiltersData.priority" [(ngModel)]="option.selected"
            class="example-margin" (change)="activityListFilterOnChanged($event,'priority',option)">
            {{option.DisplayName}}
          </mat-checkbox>
        </span>
      </section>
    </div>
  </mat-menu>
  <mat-menu #createdby="matMenu">
    <div (click)="$event.stopPropagation();" *ngFor="let option of activityFiltersData.createdby">
      <section class="example-section">
        <mat-checkbox class="example-margin">
          {{option}}
        </mat-checkbox>
      </section>
    </div>
  </mat-menu>
  <mat-menu #assignto="matMenu">
    <div (click)="$event.stopPropagation();" *ngFor="let option of activityFiltersData.assignedto">
      <section class="example-section">
        <mat-checkbox class="example-margin">
          {{option}}
        </mat-checkbox>
      </section>
    </div>
  </mat-menu>


  <!-- </form> -->
</div>


<mat-tab-group class="activities-list" (selectedTabChange)="onActivityTabSelection($event)">
  <mat-tab label='ALL'>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center gap-1">
        <mat-icon>assignment</mat-icon>
        All Tasks ( {{activitiesTabCount?.all[0]?.all ? activitiesTabCount.all[0]?.all : 0 }} )
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label='MY_TASKS'>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center gap-1">
        <mat-icon>assignment_ind</mat-icon>
        My Tasks ( {{activitiesTabCount?.myTasks[0]?.myTasks ? activitiesTabCount.myTasks[0]?.myTasks : 0 }} )
      </div>
    </ng-template>
  </mat-tab>
  <!-- future use -->
  <!-- <mat-tab label='Active'>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center gap-1">
        <mat-icon>person_pin</mat-icon>
        Active ( {{activitiesTabCount?.myTasks[0]?.myTasks ? activitiesTabCount.myTasks[0]?.myTasks : 0 }} )
      </div>
    </ng-template>
  </mat-tab> -->
  <mat-tab label='OVERDUE'>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center gap-1">
        <mat-icon>hourglass_empty</mat-icon>
        Overdue ( {{activitiesTabCount?.overDue[0]?.overDue ? activitiesTabCount.overDue[0]?.overDue : 0 }} )
      </div>
    </ng-template>
  </mat-tab>
  <div *ngIf="isSuperAdmin">
    <mat-tab label='HIGH'>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center gap-1">
          <mat-icon>wb_incandescent</mat-icon>
          High Priority ( {{activitiesTabCount?.highPriority[0]?.highPriority ? activitiesTabCount.highPriority[0]?.highPriority : 0 }} )
        </div>
      </ng-template>
    </mat-tab>
  </div>
</mat-tab-group>

<table mat-table [dataSource]="dataSource" 
  class="mat-elevation-z8 userTable">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
        (click)="generateActivityRowActions(row.status,row)">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef > Status </th>

    <td mat-cell *matCellDef="let element" class="status-badge">
      <span class="badge" [ngClass]="{'badge-not-admissible': element?.status.toLowerCase() == 'rejected',
      'badge-resolved': element?.status.toLowerCase() == 'resolved',
      'badge-in-progress': element?.status.toLowerCase() == 'inprogress',
      'badge-new': element?.status.toLowerCase() == 'new'}">{{element?.status | titlecase}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Activity">
    <th mat-header-cell *matHeaderCellDef > Activity </th>

    <td mat-cell *matCellDef="let element" class="cursor" (click)="navigateToActivityDetails(element._id)">
      {{ element.uniqIdentity==null ? element.createdByOrganization[0].shortName:element.uniqIdentity}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef > Title </th>
    <td mat-cell *matCellDef="let element" class="cursor" (click)="navigateToActivityDetails(element._id)">
      {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Priority">
    <th mat-header-cell *matHeaderCellDef > Priority </th>
    <td mat-cell *matCellDef="let element"> {{element?.priority}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Duedate">
    <th mat-header-cell *matHeaderCellDef > Due date </th>
    <td mat-cell *matCellDef="let element"> {{element?.dueDate | date:'MMM d, y'}} </td>
  </ng-container>

  <ng-container matColumnDef="Assignto">
    <th mat-header-cell *matHeaderCellDef > Assignto </th>
    <td mat-cell *matCellDef="let element"> {{element?.assignTo[0]?.organization}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef > Action </th>
    <td mat-cell *matCellDef="let element"> <mat-icon class="cursor"
        (click)="navigateToActivityDetails(element._id)">keyboard_arrow_right icon</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource?.filteredData?.length === 0">
  <mat-card class="noActivities-message">
      No Activities found
  </mat-card>
</div>


<mat-paginator [length]="totalActivitiesCount" [pageSize]="paginationProps.pageSize"
  [pageSizeOptions]="paginationProps.pageSizeOptions" (page)="onChangedPageSize($event)"
  aria-label="Select page of GitHub search results"></mat-paginator>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="isSuperAdmin">
    <button *ngFor="let action of activityRowActionByStatus" mat-menu-item
      (click)="onActivityRowActionClick(action.action)">
      <mat-icon>{{action.icon}}</mat-icon>
      <span>{{action.title}}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="isSuperAdmin===false">
    <button *ngFor="let action of userActivityRowActionByStatus" mat-menu-item
      (click)="onActivityRowActionClick(action.action)">
      <mat-icon>{{action.icon}}</mat-icon>
      <span>{{action.title}}</span>
    </button>
  </ng-container>
</mat-menu>