md-select {
  background-color: white;
  color: black;
  border: 1px solid #666666;

}

.userTable {
  width: 100%;
}


th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(206, 202, 202);
}

// .example-section {
//   // margin: 12px 0;
// }

.example-margin {
  margin: 0 12px;
  display: block;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  // margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.blue-color {
  color: blue;
}

.status-badge {
  .badge {
    width: 100px;
    padding: 5px;
    color: white;
    text-align: center;
    padding: 5px 9px;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 12px;
    border-radius: 0px;
    text-transform: capitalize;
  }

  .badge-new {
    @extend .badge;
    background-color: rgb(255 174 62 / 88%);
  }

  .badge-in-progress {
    @extend .badge;
    background-color: #012970c2;
  }

  .badge-not-admissible {
    @extend .badge;
    background-color: #ff4b3edb;
  }

  .badge-resolved {
    @extend .badge;
    background-color: #3eb365;
  }
}

.cursor {
  cursor: pointer;
}

.noActivities-message{
  text-align: center;
    color: rgb(233, 14, 14);
}

.keyDown{
  vertical-align: middle;
}



.updated_at{
  color: #999;
  font-size: 12px;
}

.alignment{
  display: flex;
    align-items: center;
    padding-top: 3rem;
    height: 150px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding-left: 1rem;
}