.add-icon{
    height: 100px;
    width: 100px;
    margin: auto;
    border: .25px  solid #f44336;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
font{
    font-size: 80px;
    color:  #f44336;
}
.plus{
display: grid;
place-items: center;
cursor: pointer;
}

.Last_updated{
    background: #fff;
    color: #999999;
    letter-spacing: 0.05em;
    padding: 15PX;
}

.organization-title{
    font-weight: 900;
}
.togle-button{
    width: 200px!important;
    min-width: unset!important;
}
.mat-button-toggle-checked {
    background-color: #556ee7;
    color: white !important
}
.noProjects-message{
    text-align: center;
    color: rgb(233, 14, 14);
}
