<div class="page-wrapper">
  <mat-tab-group class="organization-cards" (selectedTabChange)="applyOrganizationFilters($event)">
    <mat-tab label={{filters.IS_ACTIVE}}>
      <ng-template mat-tab-label>
        Active
      </ng-template>
    </mat-tab>

    <mat-tab label={{filters.MINISTRIES}}>
      <ng-template mat-tab-label>
        Ministry/Department
      </ng-template>
    </mat-tab>

    <mat-tab label={{filters.ASSOCIATION}}>
      <ng-template mat-tab-label>
        Association
      </ng-template>
    </mat-tab>

    <mat-tab label={{filters.INACTIVE}}>
      <ng-template mat-tab-label>
        Disabled
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <section class="in-page-wrapper">
    <div class="row">
      <div class="col-md-4 org-card">
        <mat-card class="plus" (click)="createOrganization()" *ngIf="!this.isUser">
          <mat-card-content>
            <div class="add-icon">
              <font>+</font>
            </div>
            <h4 class="mt-2">Create Organization</h4>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="organizationList?.length === 0 && isUser">
          <h1>No Organizations Assigned!!</h1>

        </mat-card>
      </div>
      <div class="col-md-4 org-card" *ngFor="let organization of organizationList">
        <mat-card>
          <mat-card-content>
            <h3>
              <span class="organization-title">{{
                organization.organization | titlecase
                }}</span>
              <span> ({{ organization.shortName | uppercase }})</span>
              </h3>
              <div class="org_box">
                <div class="org_icon">
                  <i class="material-icons">corporate_fare</i>
                </div>

                <div>
                  <p>
                    {{ organization.users.length }} User(s)</p>
                  <p>0 Activity(s)</p>
                  <p>0 Hour(s) Spent</p>
                  <p>0 Mb Storage</p>
              </div>
              </div>

            <div class="action-buttons">
              <div class="row justify-content-between">

                <ng-container *ngIf="organizationList[0].isActive == true">
                  <span class="col-6" (click)="openAddUserPopup(organization._id)">
                    Add User
                  </span>

                  <span class="col-6" (click)="updateOrganization(organization._id)">
                    Edit
                  </span>
                  <span class="col-6" (click)="openRemoveUserPopup(organization._id)">
                    Remove User
                  </span>

                  <ng-container *ngIf="organization.users?.length >=1">
                    <span class="col-6" (click)="disableAssociation(this.organization._id,organization.organization)">
                      Disable
                    </span>
                  </ng-container>

                  <ng-container *ngIf="organization.users?.length  == 0">
                    <span class="col-6" (click)="removeUser(organization._id,organization.organization)">
                      Delete
                    </span>
                  </ng-container>
              </ng-container>

              <ng-container *ngIf="organizationList[0].isActive == false">
                <span class="col-6"
                  (click)="removeUser(organization._id,organization.organization)">
                  Delete User
              </span>
                <span  class="col-6" (click)="enableAssociation(this.organization._id,organization.organization)">
                  Enable
                </span>
              </ng-container>

              </div>

          </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </section>
</div>
