<div class="page-wrapper">
  <mat-tab-group class="organization-cards" (selectedTabChange)="applyOrganizationFilters($event)">
    <mat-tab label={{filters.IS_ACTIVE}}>
        <ng-template mat-tab-label>
        <mat-icon>person_pin</mat-icon>
        Active ({{activeMetricsCount ? activeMetricsCount : 0}})
      </ng-template>
    </mat-tab>
    <mat-tab label={{filters.MINISTRIES}}>
      <ng-template mat-tab-label>
        <mat-icon>person_outline</mat-icon>
        Ministry/Department ({{ministriesMetricsCount ? ministriesMetricsCount : 0}})
      </ng-template>
    </mat-tab>
    <mat-tab label={{filters.ASSOCIATION}}>
      <ng-template mat-tab-label>
        <mat-icon>group_add</mat-icon>
        Association ({{associationsMetricsCount ? associationsMetricsCount : 0}})
      </ng-template>
    </mat-tab>
    <mat-tab label={{filters.INACTIVE}}>
      <ng-template mat-tab-label>
        <mat-icon>not_interested</mat-icon>
        Inactive ({{inActiveMetricsCount ? inActiveMetricsCount : 0}})
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <section class="in-page-wrapper">
    <div class="row">
      <div class="col-md-4 org-card" *ngIf="!isUser">
        <mat-card class="plus" (click)="createOrganization()">
          <mat-card-content>
            <div class="add-icon">
              <font>+</font>
            </div>
            <h4 class="mt-2">Create Organization</h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 org-card" *ngIf="organizationList?.length === 0 ">
        <mat-card >
          <h1>No Organizations Assigned!!</h1>
        </mat-card>
      </div>
      <div class="col-md-4 org-card" *ngFor="let organization of organizationList">
        <mat-card>
          <mat-card-content>
            <div class="heading d-flex align-items-center justify-content-between">
              <h3>
                <span class="organization-title">{{
                  organization.organization | titlecase
                  }}</span>
                <span> ({{ organization.shortName | uppercase }})</span>
              </h3>
              <small class="org_mob_icon" (click)="openActionBtn()"><mat-icon>more_horiz</mat-icon> </small>
            </div>

            <div class="org_box">
              <div class="org_icon">
                <i class="material-icons">corporate_fare</i>
              </div>

              <div>
                <p>
                  {{ organization.users.length }} User(s)</p>
                <p>{{ organization.activities }} Activity(s)</p>
                <!-- <p>0 Hour(s) Spent</p> -->
                <p>0 Mb Storage</p>
              </div>
            </div>

            <div class="action-buttons" *ngIf="showActionBtn">
              <div class="row justify-content-between" *ngIf="!isUser">

                <ng-container *ngIf="organizationList[0].isActive == true">
                  <span class="col-6" (click)="openAddUserPopup(organization._id)">
                    <div class="d-flex align-items-center">
                      <mat-icon>person_add</mat-icon>
                      Add User
                    </div>
                  </span>
                  <span class="col-6" (click)="updateOrganization(organization._id)">
                    <div class="d-flex align-items-center">
                      <mat-icon>edit</mat-icon>
                      Edit
                    </div>
                  </span>
                  <span *ngIf="organization.users?.length >0" class="col-6"
                    (click)="openRemoveUserPopup(organization._id)">
                    <div class="d-flex align-items-center">
                      <mat-icon>person_remove</mat-icon>
                      Remove User
                    </div>
                  </span>

                  <ng-container *ngIf="organization.users?.length > 0 && organization.activities > 0">
                    <span class="col-6" (click)="disableOrganization(this.organization._id,organization.organization)">
                      <div class="d-flex align-items-center">
                        <mat-icon>not_interested </mat-icon>
                        Disable
                      </div>
                    </span>
                  </ng-container>

                  <ng-container *ngIf="organization.users?.length  == 0 || organization.activities === 0">
                    <span class="col-6" (click)="removeOrganization(organization._id,organization.organization)">
                      <div class="d-flex align-items-center">
                        <mat-icon>delete</mat-icon>
                        Delete
                      </div>
                    </span>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="organizationList[0].isActive == false">
                  <span class="col-6" (click)="removeOrganization(organization._id,organization.organization)">
                    Delete User
                  </span>
                  <span class="col-6" (click)="enableOrganization(this.organization._id,organization.organization)">
                    Enable
                  </span>
                </ng-container>
                </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</div>