.userTable {
  width: 100%;
}

.userTable,
th {
  background-color: #818dcf;
  color: white;
}

table {
  border: 1px solid rgb(236 236 236);
}

.adduser-table {
  height: 200px;
  overflow: auto;
  
  tr:nth-child(even){
    background: #EAF1F6;
  }
}

.mat-card-actions {
  margin: 0;
}