.btn {
    width: 100%
}

.new {

    color: rgb(255 174 62 / 88%);
}

.in-progress {

    color: #012970c2;
}

.not-admissible {

    color: #ff4b3edb;
}

.resolved {

    color: #4bec81;
}

.notify{
    margin-left: 5px;
    display: inline-block;
    min-width: 21.6px;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    right: 8px;
    text-shadow: none;
    font-family: 'HelveticaNeue-Roman';
    font-weight: 600;
}