<div *ngIf="currentRoute == '/dashboard'" class="d-flex justify-content-start " >
  <div class="p-2">
    <mat-icon (click)="navigateToDashboard()">home</mat-icon> <span> > Dashboard ></span>
  </div>
 <ng-container *ngIf="organizationsList.length==1">
	<div>{{organizationsList[0].organization}}</div>
 </ng-container> 
 <ng-container *ngIf="organizationsList.length>1">
  <div>
    <mat-form-field>
      <input
        class="p-2"
        placeholder="Find an Organisation"
        matInput
        type="text"
        (keyup)="filterOrganization($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="seleectedOrganization($event)"
      >
        <mat-option
          *ngFor="let organization of searchedOrganizationList"
          [value]="organization.organization"
          #matOption
        >
          {{ organization.organization }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</ng-container>
</div>

<ng-container *ngIf="currentRoute == '/organization-list'">
  <div>
    <mat-icon (click)="navigateToDashboard()">home</mat-icon> > Organizations >
    Manage
  </div>
</ng-container>

<div *ngIf="currentRoute == '/activity'" class="d-flex justify-content-start " >
	<div class="p-2">
	  <mat-icon (click)="navigateToDashboard()">home</mat-icon> <span> > Activities ></span>
	</div>
	<ng-container *ngIf="organizationsList.length==1">
		<div>{{organizationsList[0].organization}}</div>
	 </ng-container> 
	 <ng-container *ngIf="organizationsList.length>1">
	  <div>
		<mat-form-field>
		  <input
			class="p-2"
			placeholder="Find an Organisation"
			matInput
			type="text"
			(keyup)="filterOrganization($event)"
			[matAutocomplete]="auto"
		  />
		  <mat-autocomplete
			#auto="matAutocomplete"
			(optionSelected)="seleectedOrganization($event)"
		  >
			<mat-option
			  *ngFor="let organization of searchedOrganizationList"
			  [value]="organization.organization"
			  #matOption
			>
			  {{ organization.organization }}
			</mat-option>
		  </mat-autocomplete>
		</mat-form-field>
	  </div>
	</ng-container>
  </div>


<div *ngIf="currentRoute == '/documents'" class="d-flex justify-content-start " >
	<div class="p-2">
	  <mat-icon (click)="navigateToDashboard()">home</mat-icon> <span> > Documents ></span>
	</div>
	<ng-container *ngIf="organizationsList.length==1">
		<div>{{organizationsList[0].organization}}</div>
	 </ng-container> 
	 <ng-container *ngIf="organizationsList.length>1">
	  <div>
		<mat-form-field>
		  <input
			class="p-2"
			placeholder="Find an Organisation"
			matInput
			type="text"
			(keyup)="filterOrganization($event)"
			[matAutocomplete]="auto"
		  />
		  <mat-autocomplete
			#auto="matAutocomplete"
			(optionSelected)="seleectedOrganization($event)"
		  >
			<mat-option
			  *ngFor="let organization of searchedOrganizationList"
			  [value]="organization.organization"
			  #matOption
			>
			  {{ organization.organization }}
			</mat-option>
		  </mat-autocomplete>
		</mat-form-field>
	  </div>
	</ng-container>
  </div>

 

<ng-container *ngIf="currentRoute == '/user-list'">
  <p>
    <mat-icon (click)="navigateToDashboard()">home</mat-icon> > Users > Manage
  </p>
</ng-container>

<ng-container *ngIf="currentRoute == '/company-settings'">
  <p>
    <mat-icon (click)="navigateToDashboard()">home</mat-icon> > Company Settings
    > My Company
  </p>
</ng-container>

<ng-container *ngIf="currentRoute == '/archive'">
  <p>
    <mat-icon (click)="navigateToDashboard()">home</mat-icon> > Archive > Tasks
  </p>
</ng-container>
