<div class="elog-dialog">
  <h1 mat-dialog-title>{{userId ? 'Update User':'Add New User'}}</h1>
  <div mat-dialog-content class="elog-dialog-body">
    <form [formGroup]="addNewUserForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" input type="text" formControlName="Name" />
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" input type="password" formControlName="password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" />
          <mat-error *ngIf="addNewUserForm.get('password')?.hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="addNewUserForm.get('password')?.hasError('pattern')">
            Strong password <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="email" input type="text" formControlName="email"/>
          <mat-error *ngIf="addNewUserForm.get('email')?.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="addNewUserForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Organization to be assigned</mat-label>
          <mat-select  multiple  formControlName="organization">
            <mat-option *ngFor="let Organization of organizationList" [value]="Organization._id"> {{Organization.organization}}</mat-option>
  </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Department Name</mat-label>
          <input matInput placeholder="Department Name" input type="text" formControlName="department" />
        </mat-form-field>
      </div>
      <mat-card-actions class="d-flex justify-content-end">
        <button mat-raised-button mat-dialog-close="true" [mat-dialog-close]=false>Cancel</button>
        <button type="submit" mat-raised-button color="primary" 
          mat-dialog-close="true" [disabled]="addNewUserForm.invalid" >
          {{userId ? 'Update':'Create'}}
        </button>
      </mat-card-actions>
    </form>
  </div>
</div>
