.userTable {
  width: 100%;
}

.userTable,
th {
  background-color: #818dcf;
  color: white;
}

.userTable,
tr {
  background: whitesmoke;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(206, 202, 202);
}

.mat-raised-button~.mat-raised-button {
  margin-left: 10px;
}

.d-flex {
  float: right;
}

.action-center {
  text-align: center;
}