<div class="container create-activity">
  <div class="d-flex  create-activity-header">
    <mat-icon> note_add</mat-icon>
    <h2>Create Activity</h2>
  </div>
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <div class="row p-4">
      <div class="row">
        <div class="col-md-6">
          <ng-container *ngIf="userDetails?.organizationsdata?.length > 1">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>organizations</mat-label>
              <mat-select formControlName="createdByOrganization">
                <mat-option *ngFor="let organization of userDetails?.organizationsdata" [value]="organization._id">{{
                  organization.organization }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="userDetails?.organizationsdata?.length === 1">
            <h3 class="username">{{ userDetails?.Name}}</h3>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Type</mat-label>
            <mat-select formControlName="activityType">
              <mat-option *ngFor="let activityTypesData of activityTypesData" [value]="activityTypesData._id">{{
                activityTypesData.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Related To</mat-label>
            <mat-select formControlName="activityRelatedTo">
              <mat-option *ngFor="let activityRelatedTypesData of activityRelatedTypesData"
                [value]="activityRelatedTypesData._id">{{ activityRelatedTypesData.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Ministry/Department</mat-label>
            <mat-select multiple="multiple" formControlName="organization">
              <mat-option *ngFor="let organization of organizationsData" [value]="organization">{{
                organization.organization }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Entry Type</mat-label>
            <mat-select formControlName="activitEntryType">
              <mat-option *ngFor="let activityEntryTypesData of activityEntryTypesData"
                [value]="activityEntryTypesData._id">{{ activityEntryTypesData.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-chip-list><mat-chip *ngFor="
          let item of activityForm.get('organization')?.value;
          let i = index
        " [removable]="removable" (removed)="removeChip(i)">
              {{ item.organization }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Sector</mat-label>
            <mat-select formControlName="activitySector">
              <mat-option *ngFor="let activitySectorsData of activitySectorsData" [value]="activitySectorsData._id">{{
                activitySectorsData.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Scope</mat-label>
            <mat-select formControlName="activityScope">
              <mat-option *ngFor="let activityScopesData of activityScopesData" [value]="activityScopesData._id">{{
                activityScopesData.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Title</mat-label>
            <div class="col-12">
              <input matInput placeholder="Add an activity here & hit enter..." input type="text"
                formControlName="title" />
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="text-editor mb-1">
        <app-rich-text-editor value="" (updatedDescription)="updatedDescription($event)"></app-rich-text-editor>
      </div>
      <div>
        <app-fileuploader (updatedFilesDescription)="updatedFilesDescription($event)"></app-fileuploader>
      </div>
      <div class="text-center">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>