<mat-tab-group>
    <mat-tab label="My Company ">
        <ng-template mat-tab-label>
          <div class="d-flex align-items-center gap-1">
            <mat-icon>business</mat-icon>
            My Company
          </div>
        </ng-template>
        <div class="text-center">
            <form [formGroup]="companySettingsForm" (ngSubmit)="onUpdate()">
            <div class="d-flex justify-content-start ">
                <mat-form-field appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input matInput input type="text" formControlName="name" />
                </mat-form-field><br>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" mat-button>Cancel</button><br>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
        </div>
    </mat-tab>
<!-- Feature Use  -->
    <!-- <mat-tab label="Import & Export">
        <ng-template mat-tab-label>
           <div class="d-flex align-items-center gap-1">
            <mat-icon>import_export</mat-icon>
            Import & Export
           </div>
        </ng-template>
        <app-import-export></app-import-export>
    </mat-tab>

    <mat-tab label="Category">
        <ng-template mat-tab-label>
           <div class="d-flex align-items-center gap-1">
            <mat-icon>format_indent_increase</mat-icon>
            Category
           </div>
        </ng-template>
        <app-category></app-category>
    </mat-tab> -->
</mat-tab-group>