.archiveTable {
  width: 100%;
}

th {
  background-color: #f0f0f0;
  font-size: 1em;
}

.badge {
  width: 100px;
  padding: 5px;
  color: white;
  text-align: center;
  padding: 5px 9px;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 12px;
  border-radius: 0px;
  text-transform: capitalize;
}

.badge-new {
  @extend .badge;
  background-color: rgb(255 174 62 / 88%);
}

.badge-in-progress {
  @extend .badge;
  background-color: #012970c2;
}

.badge-not-admissible {
  @extend .badge;
  background-color: #ff4b3edb;
}

.badge-resolved {
  @extend .badge;
  background-color: #4bec81;
}

.cursor{
  cursor: pointer;
}

.noTask-message{
  text-align: center;
    color: rgb(233, 14, 14);
}

.documentTable {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
  font-size: 1rem;
  background: #f0f0f0;
}

.attachment-download{
  cursor: pointer;
  color : blue;
  text-decoration: underline;

}