<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="d-flex align-items-center gap-1">
                <mat-icon>assignment</mat-icon>
                Tasks
            </div>
        </ng-template>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 archiveTable">

            <!-- Activity Column -->
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>

                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">

                    </mat-checkbox>
                    <button [disabled]="selection.selected.length === 0" mat-icon-button [matMenuTriggerFor]="fileMenu"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="Activity">
                <th mat-header-cell *matHeaderCellDef> Activity </th>
                <td mat-cell *matCellDef="let element" class="cursor" (click)="navigateToActivityDetails(element._id)">
                    {{ element.uniqIdentity ? element.uniqIdentity : element.createdByOrganizationData[0].shortName}}
                </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element" class="cursor" (click)="navigateToActivityDetails(element._id)">
                    {{element.title}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef class="status-badge"> Status </th>
                <td mat-cell *matCellDef="let element" class="status-badge"> <span class="badge" [ngClass]="{'badge-not-admissible': element?.status.toLowerCase() === 'rejected',
                    'badge-resolved': element?.status.toLowerCase() === 'resolved',
                    'badge-in-progress': element?.status.toLowerCase() === 'inprogress',
                    'badge-new': element?.status.toLowerCase() === 'new'}"> {{element.status |titlecase}} </span> </td>
            </ng-container>

            <!-- Organisation Column -->
            <ng-container matColumnDef="Organisation">
                <th mat-header-cell *matHeaderCellDef> Organisation </th>
                <td mat-cell *matCellDef="let element">{{element.createdByOrganizationData[0].organization}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="taskDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: taskDisplayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource?.filteredData?.length === 0">
            <mat-card class="noTask-message">
                No Archived Activities found
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="d-flex align-items-center gap-1" (click)="logSelection()">
                <mat-icon>attachment</mat-icon>
                Files
            </div>
        </ng-template>

        <table mat-table [dataSource]="dataSourceArchiveDocs" class="mat-elevation-z8 documentTable">

            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>

                    <mat-checkbox (change)="$event ? masterFilesToggle() : null"
                        [checked]="fileSelection.hasValue() && isAllFileSelection()"
                        [indeterminate]="fileSelection.hasValue() && !isAllFileSelection()">

                    </mat-checkbox>
                    <button [disabled]="fileSelection.selected.length === 0" mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? fileSelection.toggle(element) : null" [checked]="fileSelection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="Activity">
                <th mat-header-cell *matHeaderCellDef> Activity</th>
                <td mat-cell *matCellDef="let element"> {{element?.uniqIdentity}} </td>
            </ng-container>
        
           
            <ng-container matColumnDef="FileName" >
                <th mat-header-cell *matHeaderCellDef> FileName </th>
                <td mat-cell *matCellDef="let element" (click)="downloadDocumement(element)" class="attachment-download"> {{element?.nestedAttchments?.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Size">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element"> {{element?.nestedAttchments?.size}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Organisation">
                <th mat-header-cell *matHeaderCellDef> Organisation </th>
                <td mat-cell *matCellDef="let element"> {{element?.docOrg[0]?.organization ? element?.docOrg[0]?.organization : element?.nestedAttchments?.organization}} </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
        
            <!-- <div *ngIf="dataSource?.length===0" class="text-center text-danger">
                No records found
              </div> -->
        
        </table>
        <mat-paginator [length]="archiveDocumentsTotalCount" [pageSize]="paginationProps.pageSize"
            [pageSizeOptions]="paginationProps.pageSizeOptions" (page)="onChangedPageSize($event)"
            aria-label="Select page of GitHub search results"></mat-paginator>
        
        
        <div *ngIf="archiveDocuments.length === 0">
            <mat-card class="noTask-message">
                No Files found
            </mat-card>
          </div>
    </mat-tab>
    
</mat-tab-group>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="archiveActionClick('Restore')">
        <mat-icon>refresh</mat-icon>
        <span>Restore</span>
    </button>


    <button mat-menu-item (click)="archiveActionClick('Remove')">
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
    </button>

</mat-menu>

<mat-menu #fileMenu="matMenu">
    <button mat-menu-item (click)="archiveActionClick('Restore')">
        <mat-icon>refresh</mat-icon>
        <span>Restore</span>
    </button>


    <button mat-menu-item (click)="archiveActionClick('Remove')">
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
    </button>

</mat-menu>