.mat-Icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.refresh{
    min-width: 30px;
    padding: 0;
    border-radius: 5px;
}
.img-span{
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    align-content: center;
}
.mat-i{
    font-size: 50px;
    width: 50px;
    height:50px;
    opacity: 0.5;
}
h3{
    margin: 0;
}
.kit{
    .mat-icon{
        opacity: 0.7;
    }
}
hr{
    opacity: 0.1;
}
.text{
    color:#b1b1b1
}
.date-icon{
    min-width: 30px;
    padding: 0;
}