<div class="page-wrapper">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>notifications_active</mat-icon>
              Active
             </ng-template>
        <!-- <mat-tab label="My Profile"> -->
            <div>
                <div class="select">
                    <form [formGroup]='profileForm' (ngSubmit)="onSubmit()">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" input type="text" formControlName="Name" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Short Name</mat-label>
                                <input matInput placeholder="Short Name" input type="text"
                                    formControlName="shortName" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" input type="text" formControlName="email" />
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" class="w-100-per">
                            <mat-label>Time Zone</mat-label>
                            <mat-select formControlName="timeZone">
                            </mat-select>

                        </mat-form-field>
                        <br>
                        <input class="ng-hide" id="input-file-id" multiple type="file" />

                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Keep me upto date with new features
                        </label>
                        <div class="d-flex btn justify-content-start">

                            <span> </span>
                            <button mat-raised-button color="primary" type="submit">
                                Save
                            </button>
                            <span></span>
                            <button mat-raised-button type="button">
                                Cancel
                            </button>

                        </div>
                    </form>
                </div>

            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label (click)=(filters.ChangePassword)>
              <mat-icon>lock_open</mat-icon>
              ChangePassword
             </ng-template>
            <div>
                <app-changepassword [logedinUserEmail]="loggedInUserDetails"></app-changepassword>
            </div>
          </mat-tab>
        <!-- <mat-tab label="ChangePassword">
            <div>
                <app-changepassword [logedinUserEmail]="loggedInUserDetails"></app-changepassword>
            </div>
        </mat-tab> -->
        <mat-tab>
            <ng-template mat-tab-label (click)="applyUserFilters(filters.Notifications)">
              <mat-icon>wb_incandescent</mat-icon>
              Notifications
             </ng-template>
             <div>
                <app-notifications [notifications]="notifications" [loggedInUserDetails]="loggedInUserDetails"></app-notifications>
            </div>
          </mat-tab>
        <!-- <mat-tab  label="Notifications">
            <div>
                <app-notifications [notifications]="notifications" [loggedInUserDetails]="loggedInUserDetails"></app-notifications>
            </div>
        </mat-tab> -->
        <mat-tab>
            <ng-template mat-tab-label (click)="applyUserFilters(filters.EmailReports)">
              <mat-icon>email</mat-icon>
              Email Reports
             </ng-template>
             <div>
                <app-notifications [notifications]="notifications" [loggedInUserDetails]="loggedInUserDetails"></app-notifications>
            </div>
          </mat-tab>
        <!-- <mat-tab label="Email Reports">
            <div>
                <app-email-reports [emailReportsData]="emailReports" [loggedInUserDetails]="loggedInUserDetails"></app-email-reports>
            </div>
        </mat-tab> -->
    </mat-tab-group>
</div>