
.togle-button{
    width: 100px!important;
    min-width: unset!important;
}
.mat-button-toggle-checked {
    background-color: #44508d;
    color: white !important
}

.mat-tab-label-active{
    background-color: red;
}
mat-form-field{
    width: 40%;
}

