mat-form-field{
    width: 40%;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }