<div class="alert alert-primary alert-dismissible fade show welcome-msg" role="alert">
  Hi<strong> {{userRole}}</strong>, Welcome to Dashboard.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<section class="section dashboard">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">

          <div class="card shadow mb-4">
            <div class="card-header">
              <h6 class="m-0">Activity <span>Metrics</span></h6>
            </div>
            <div class="card-body">

            </div>
        </div>


        </div>
        <div class="col-md-6">
          <div class="card shadow mb-4">
            <div class="card-header">
              <h6 class="m-0">Related To <span>Metrics</span></h6>
            </div>
            <div class="card-body">
            </div>
        </div>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header">
          <h6 class="m-0">On Time <span>Metrics</span></h6>
        </div>
        <div class="card-body" style="min-height: 200px;">

        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
            <div class="card shadow mb-4">
              <div class="card-header">
                <h6 class="m-0">User <span>Metrics</span></h6>
              </div>
              <div class="card-body">

              </div>
          </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow mb-4">
              <div class="card-header">
                <h6 class="m-0">Organization <span>Metrics</span></h6>
              </div>
              <div class="card-body">

              </div>
            </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card shadow mb-4">
        <div class="card-header">
          <h6 class="m-0">To Do</h6>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
</section>
