<div class="alert alert-primary alert-dismissible fade show welcome-msg" role="alert">
  Hi<strong> {{logedinUserDetails?.Name}}</strong>, Welcome to Dashboard.
</div>
<section class="section dashboard">
  <div class="row">
    <div class="col-md-8 mb-3 pdr-0">
      <div class="row">
        <div class="col-md-6 mb-3 pdr-0">
          <div class="card shadow h-100">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h2 class="m-0">Activity <span>Metrics</span></h2>
              <div class="calendar-inputs">
                <div class="d-flex date-input start-date">
                  <input type="text" class="form-control col-md-1" placeholder="08-01-2023" name="" id="" matInput
                    [matDatepicker]="startDatePicker" (dateChange)="startDateSetter( $event)" />
                  <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </div>

                <div class="d-flex date-input">
                  <input type="text" class="form-control col-md-1" placeholder="To Date" name="" id="" matInput
                    [matDatepicker]="endDatePicker" (dateChange)="endDateSetter( $event)" />
                  <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </div>

              </div>
            </div>
            <div class="card-body">
              <div class="d-flex mb-3 justify-content-between align-items-center">
                <div class="total">Total <span>{{dashboardMetricsCount?.total[0]?.total ? dashboardMetricsCount?.total[0]?.total : 0}}</span></div>
                <div class="activity_type">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select (selectionChange)="selectedActivityType($event)">
                      <mat-option *ngFor="let activityTypesData of activityTypesData" [value]="activityTypesData._id">{{
                        activityTypesData?.name }}</mat-option>
                        <mat-option [value]="">Clear All</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 activity mb-3">
                  <div class="brdr-primary">
                    <div class="d-inline-block">New</div>
                    <div class="d-inline-block float-right bg-primary-text fw-bold fs-5">
                      {{dashboardMetricsCount?.new?.length===0 ? 0: dashboardMetricsCount?.new[0]?.newCount }}</div>
                    <div class="percentage">
                      ({{(dashboardMetricsCount?.new?.length===0 ? 0:
                      dashboardMetricsCount?.new[0]?.newCount)*100/(dashboardMetricsCount?.total[0]?.total)|
                      number:'.2-2'}}%)
                    </div>
                  </div>
                </div>
                <div class="col-md-6 activity mb-3">
                  <div class="brdr-warning">
                    <div class="d-inline-block">In-Progress</div>
                    <div class="d-inline-block float-right bg-warning-text fw-bold fs-5">
                      {{dashboardMetricsCount?.inProgress?.length===0 ? 0
                      :dashboardMetricsCount?.inProgress[0]?.inProgressCount}}</div>
                    <div class="percentage">
                      ({{(dashboardMetricsCount?.inProgress?.length===0 ? 0
                      :dashboardMetricsCount?.inProgress[0]?.inProgressCount)*100/(dashboardMetricsCount?.total[0]?.total)|
                      number:'.2-2'}}%)
                    </div>
                  </div>
                </div>
                <div class="col-md-6 activity">
                  <div class="brdr-success">
                    <div class="d-inline-block">Resolved</div>
                    <div class="d-inline-block float-right bg-success-text fw-bold fs-5">
                      {{dashboardMetricsCount?.resolved?.length===0 ? 0 :
                      dashboardMetricsCount?.resolved[0]?.resolvedCount}}</div>
                    <div class="percentage">
                      ({{(dashboardMetricsCount?.resolved?.length===0 ? 0 :
                      dashboardMetricsCount?.resolved[0]?.resolvedCount)*100/(dashboardMetricsCount?.total[0]?.total)|
                      number:'.2-2'}}%)
                    </div>
                  </div>
                </div>
                <div class="col-md-6 activity">
                  <div class="brdr-danger">
                    <div class="d-inline-block">Not Admissible</div>
                    <div class="d-inline-block float-right bg-primary-text fw-bold fs-5">
                      {{dashboardMetricsCount?.rejectedCount?.length===0 ? 0
                      :dashboardMetricsCount?.rejectedCount[0]?.rejectedCount}}</div>
                    <div class="percentage">
                      ({{(dashboardMetricsCount?.rejectedCount?.length===0 ? 0
                      :dashboardMetricsCount?.rejectedCount[0]?.rejectedCount)*100/(dashboardMetricsCount?.total[0]?.total)|
                      number:'.2-2'}}%)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card shadow h-100">
            <div class="card-header">
              <h2 class="m-0">Related To <span>Metrics</span></h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3 related">
                  <div class="bg-primary h-100">
                    <h5>Others<span>(
                      {{(relatedToMetricsData?.others?.length===0 ? 0 :
                      relatedToMetricsData?.others[0]?.others)*100/(relatedToMetricsData?.total[0]?.total)|
                      number:'.2-2'}}%)</span></h5>
                    <h3>{{relatedToMetricsData?.others?.length===0 ? 0 : relatedToMetricsData?.others[0]?.others}}</h3>
                  </div>
                </div>
                <div class="col-md-6 mb-3 related">
                  <div class="bg-success h-100">
                    <h5>Multiple Ministries / Departments<span>({{ (relatedToMetricsData?.multiMinistry?.length===0 ? 0
                        :relatedToMetricsData?.multiMinistry[0]?.multiMinistry)*100/(relatedToMetricsData?.total[0]?.total)|
                        number:'.2-2'}})</span></h5>
                    <h3>{{ relatedToMetricsData?.multiMinistry?.length===0 ? 0
                      :relatedToMetricsData?.multiMinistry[0]?.multiMinistry}}</h3>
                  </div>
                </div>
                <div class="col-md-6 related">
                  <div class="bg-warning h-100">
                    <h5>Single Ministry / Department<span>({{ (relatedToMetricsData?.singleMinistry?.length===0 ? 0 :
                        relatedToMetricsData?.singleMinistry[0]?.singleMinistry)*100/(relatedToMetricsData?.total[0]?.total)|
                        number:'.2-2'}}%)</span></h5>
                    <h3>{{ relatedToMetricsData?.singleMinistry?.length===0 ? 0 :
                      relatedToMetricsData?.singleMinistry[0]?.singleMinistry}}</h3>
                  </div>
                </div>
                <div class="col-md-6 related">
                  <div class="bg-danger h-100">
                    <h5>None<span>({{(relatedToMetricsData?.none?.length===0 ? 0
                        :relatedToMetricsData?.none[0]?.none)*100/(relatedToMetricsData?.total[0]?.total)|
                        number:'.2-2'}}%)</span></h5>
                    <h3>{{relatedToMetricsData?.none?.length===0 ? 0 :relatedToMetricsData?.none[0]?.none}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card shadow mb-3">
        <div class="card-header">
          <h2 class="m-0">On Time <span>Metrics</span></h2>
        </div>
        <div class="card-body">
          <div class="ontime">
            <div class="ontime-left">
              <h5>On Time</h5>
              <h4>{{dueDateDashBoarData?.OnTime?.length===0 ? 0 : dueDateDashBoarData?.OnTime[0]?.OnTime}}</h4>
            </div>
            <div class="ontime-right">
              <h4>Overdue From</h4>
              <div class="overdue d-flex justify-content-between">
                <div>
                  <div class="round-box" style="border-color: rgb(248, 187, 189)">
                    {{dueDateDashBoarData?.oneWeek?.length===0 ? 0 :dueDateDashBoarData?.oneWeek[0]?.oneWeek}}</div>
                  <h5 class="day-heading"> &lt; Week</h5>
                </div>
                <div>
                  <div class="round-box" style="border-color: rgb(243, 141, 144)">
                    {{dueDateDashBoarData?.oneToTwoWeek?.length===0 ?
                    0:dueDateDashBoarData?.oneToTwoWeek[0]?.oneToTwoWeeks}}</div>
                  <h5 class="day-heading">1 to 2 Weeks</h5>
                </div>
                <div>
                  <div class="round-box" style="border-color: rgb(238, 95, 99)">
                    {{dueDateDashBoarData?.twoWeeksToOneMonth?.length===0 ?
                    0:dueDateDashBoarData?.twoWeeksToOneMonth[0]?.twoWeeksToOneMonth}}</div>
                  <h5 class="day-heading">2 Weeks - Month</h5>
                </div>
                <div>
                  <div class="round-box" style="border-color: rgb(233, 49, 54)">
                    {{dueDateDashBoarData?.moreThanAMonth?.length===0 ?
                    0:dueDateDashBoarData?.moreThanAMonth[0]?.moreThanAMonth}}</div>
                  <h5 class="day-heading">&gt; Month</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isSuperAdmin">
        <div class="col-md-7 pdr-0 user_met">
          <div class="card shadow h-100">
            <div class="card-header">
              <h2 class="m-0">User <span>Metrics</span></h2>
            </div>
            <div class="card-body user-metrics">
              <div class="active-users">
                <span>Active</span>
                <h4>{{userMetricsCount?.active ? userMetricsCount?.active : 0}}</h4>
              </div>
              <div class="inactive-users">
                <span>Inactive</span>
                <h4>{{userMetricsCount?.inActive ? userMetricsCount?.inActive : 0}}</h4>
              </div>
              <div class="mapped-users">
                <span>In more than one organization</span>
                <h4>{{userMetricsCount?.moreThanOneOrg ? userMetricsCount?.moreThanOneOrg : 0}}</h4>
              </div>
              <div class="recent-users">
                <span>Active in 24hrs</span>
                <h4>{{userMetricsCount?.activeLast24Hours ? userMetricsCount?.activeLast24Hours : 0}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card shadow h-100">
            <div class="card-header">
              <h2 class="m-0">Organization <span>Metrics</span></h2>
            </div>
            <div class="card-body">
              <div class="row organization">
                <div class="col-md-3 col-3">
                  <div class="h-100">
                    <h3>{{organizationsMetricsCount?.active ? organizationsMetricsCount?.active : 0}}</h3>
                    <h6>Active</h6>
                  </div>
                </div>
                <div class="col-md-4 col-4">
                  <div class="h-100">
                    <h3>{{organizationsMetricsCount?.inActive ? organizationsMetricsCount?.inActive : 0}}</h3>
                    <h6>Inactive</h6>
                  </div>
                </div>
                <div class="col-md-5 h-100 col-5">
                  <div class="h-100">
                    <h3>{{organizationsMetricsCount?.activeInLast24Hours ? organizationsMetricsCount?.activeInLast24Hours : 0}}</h3>
                    <h6>Active in 24hrs</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 mb-3">
      <div class="card shadow h-100">
        <div class="card-header">
          <h2 class="m-0">To Dos</h2>
        </div>
        <div class="card-body activities_panel">
          <div class="heading overdue mb-3">
            <h2 class="over_due-header"> <span>Overdue Tasks</span></h2>
            <div class="activity-list" *ngFor="let item of overDueActivities"
              (click)="navigateToActivityDetails(item._id)">
              <div *ngIf="overDueActivities.length>0">
                <div class="activity-title">
                  <a routerLink="#" [title]="">{{item.uniqIdentity}}</a> -
                  <a routerLink="#" [title]=""> {{item.title}}</a>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="created">
                    <span>Created on {{item.createdAt | date: 'MMM d, y'}}</span>
                  </div>
                  <div class="date-time">
                    <span class="over-due"><mat-icon>access_time</mat-icon>{{item.dueDate | date: 'medium'}}</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="todos-message" *ngIf="overDueActivities.length === 0">
              No tasks assigned to you, Explore cool features!
            </div>
          </div>

          <div class="heading upcoming">
            <h2> <span>Upcoming Tasks</span></h2>
            <div class="activity-list" *ngFor="let item of upComingActivities"
              (click)="navigateToActivityDetails(item._id)">
              <div class="activity-title">
                <a routerLink="#" [title]="">{{item.uniqIdentity}}</a> -
                <a routerLink="#" [title]=""> {{item.title}}</a>
              </div>
              <div class="d-flex justify-content-between">
                <div class="created">
                  <span>Created on Today {{item.createdAt | date: 'MMM d, y'}}</span>
                </div>
                <div class="date-time">
                  <span class="upcoming_over-due"><mat-icon>access_time</mat-icon>{{item.dueDate | date: 'MMM d, y'}}</span>
                </div>
              </div>
            </div>
            <div class="todos-message" *ngIf="upComingActivities.length === 0">
              No tasks assigned to you, Explore cool features!
            </div>
          </div>
          <div class="text-end"> <a (click)="goToActivityList()">View All({{todoActivitiesCount ? todoActivitiesCount : 0}}) </a></div>
        </div>
      </div>
    </div>

  </div>
</section>
