<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 documentTable">

    <!-- Activity Column -->
    <ng-container matColumnDef="Activity">
        <th mat-header-cell *matHeaderCellDef> Activity# </th>
    </ng-container>

    <!-- Tittle Column -->
    <ng-container matColumnDef="FileName">
        <th mat-header-cell *matHeaderCellDef> FileName </th>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
    </ng-container>
    <!-- Organisation Column -->
    <ng-container matColumnDef="Organisation">
        <th mat-header-cell *matHeaderCellDef> Organisation </th>
    </ng-container>
            
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>

</table>