.documentTable {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
  font-size: 1rem;
  background: #f0f0f0;
}

.FileName_header{
  padding-left: 3.5rem;
}

.attachment-download {

  .icon {
    margin-right: .5rem;
    width: 16px;
    height: 18px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 5px;
  }

  .pdf_icon{
    @extend .icon;
    background: url(./../../assets/images/icon-svgs.png) no-repeat -212px -219px;
  }

  .Excel_icon{
    @extend .icon;
    background:url(./../../assets/images/icon-svgs.png)  no-repeat -211px -255px;
  }

  .img_icon{
    @extend .icon;
    background: url(./../../assets/images/icon-svgs.png)  no-repeat -230px -219px;
  }

  .file_icon{
    @extend .icon;
    background:url(./../../assets/images/icon-svgs.png) no-repeat -230px -238px;
  }

  .Word_icon{
    @extend .icon;
    background:url(./../../assets/images/icon-svgs.png) no-repeat  -211px -238px;
  }
  


  .file_type {
    cursor: pointer;
    display: flex;

    a:hover{
      color: blue;
      text-decoration: underline;
    }
  }

  .uploaded-by {
    color: #999;
    font-size: 12px;

    b {
      font-weight: 400;
      color: #000;
      font-size: 12px;
    }
  }
}

.table_header{
  padding-left: 5px;
    color: rgb(30 132 202);
    position: relative;

    strong{
      position: absolute;
      font-size: 1rem;
      left: 10px;
    }
}